<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Price comparator</title>
    <link rel="stylesheet" href="../static/css/price_comp.css">
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="icon" type="image/png" href="../static/image/favicomatic/favicon-32x32.png" sizes="32x32" />
  </head>
  <body style="background-color:#edf2fb;">
    {% extends "base.html" %}
    {% block content %}
    <section id='comparator_corp'>
      <div id='explaination_part'>
        <h2> Page de comparaison </h2>
        <p></p>
        <p> Bienvenu sur la page de comparaison de vol. Cette page vous permet d'analyser un grand nombre d'informations sur le vol qui vous interresse.</p>
        <p>En effet après plus d'une semaine de récuperation de donnée sur le site de 'kayak' nous sommes en meusure de vous proposer une première analyse sur le prix des billets recuperé.</p>
        <p></p>
        <p>Cette page donne un appercue sur les jours qui serait les plus interressant pour acheter votre billet, mais aussi une comparaison heure par heure en fonction du nombre d'arrêt que vous souhaitez réalsier lors de votre voyage.</p>
        <div>
          <h3 class='best_price_tittle'>Meilleur billet avec arrêt</h3>
          <div id="descrip_aa" class = "best_price">
            <p id='best_price_aa'>
              Capagnie allé : {{comp_alle_1_arret}} / Heure allé : {{heur_depart_aller_aa}} / Temps de vol allé : {{temps_trajet_alle_aa}} / Compagnie retour : {{comp_retour_1_arret}} / Heure retour : {{heur_depart_retour_aa}} / Temps de vol retour : {{temps_trajet_retour_aa}} / Prix du vol : {{price_aa}}€
            </p>
          </div>
          <h3 class='best_price_tittle'>Meilleur billet sans arrêt</h3>
          <div id='descrip_sa' class = "best_price">
            <p id='best_price_sa'>
              Capagnie allé : {{comp_alle_sans_arret}} / Heure allé : {{heur_depart_aller_sa}} / Temps de vol allé : {{temps_trajet_alle_sa}} / Compagnie retour : {{comp_retour_sans_arret}} / Heure retour : {{heur_depart_retour_sa}} / Temps de vol retour : {{temps_trajet_retour_sa}} / Prix du vol : {{price_sa}}€
            </p>
          </div>
        </div>
      </div>
      <div id='per_day_mean' class = "day_mean">
        <canvas id="per_day" width="700" height="400"></canvas>
        <div id = "expli_graph1" class = "expli_graph">
          <h2>Pris moyen d'un billet par jour</h2>
          <p></p>
          <p>{{text_per_day}}</p>
        </div>
      </div> 
      <div id='per_day_mean_stop' class = "day_mean">
        <canvas id="per_day_stop" width="700" height="400"></canvas>
        <div id = "expli_graph" class = "expli_graph">
          <h2>Pris moyen d'un billet par jour en fonction du nombre d'arret</h2>
          <p></p>
          <p>Cet histogramme sert a mettre en évidence (avec une alternance de couleur jaune et bleue) la différence moyenne de prix entre les vol avec et sans arrêt.</p>
          <p>En effet pour si on ne s'en tiens qu'au premier graph il est difficile de vraiment tirer une information coéherente et non biaisé de ce qui est affiché.</p>
          <p>En revanche ce second graph lui nous permet bien mieux de nous rendre compte des prix moyens par jours en fonction du nombre d'arrêt effectué pendant le vol. </p>
        </div>
      </div>

      <form id='form_mean_day_id'>
        <input type="radio" checked id="mean_per_day_allflight" name="all flight" value='allflight' class='form_mean_day'>
        <label for="mean_per_day_allflight">Tous les vols</label><br>
        <input type="radio" id="mean_per_day_1stop" name="all flight" value='1stops' class='form_mean_day'>
        <label for="mean_per_day_1stop">Vol 1 stop</label>
      </form>

      <div id='per_hour_mean'>
        <div id = "expli_graph2">
          <div id = "explination_hph">
            <h2>Pris moyen d'un billet heure par heure</h2>
            <p></p>
            <p>
              Les deux graph de gauche nous permettent d'avoir une vision plus précise sur le prix des billets à chaque heure de la journée.</p>
          
            <p>  Dans le premier graph, en rose, nous avons les informations du pris moyen d'un billet avec un arrêt heure par heure.
              C'est la même lecture pour le graph violet qui lui montre l'évolution au niveau de la journée du samedi.
            </p>
            <p>  Sur c'est 2 journée la quantité de vol sans arrêt et trop peu importante pour être affiché dans nos graph, c'est la raison pour laquel vous ne les voyez donc pas.
              En revanche, nous pouvons déduire un grand nombre de chose de ces 2 graphs.</p>
            <p> Pour ce qui est du Mardi, on constate que l'heure la plus propice 
              pour acheter un billet et soit le matin à certaines heures précise, soit dans tout la durée de l'après midi/début de soiré (de 14 à 21h), avec un minum à 16h.</p>
            <p>  En revanche pour ce qui est du samedi, il vaut mieux prendre sous billet le matin (entre 5h et 13h), même si le moment le moins cher de la journée est à 17h.</p>
              <p>Mais cette heure est assez aproximative au vue de la moyenne des prix des heures qui l'entour.   </p>
          </div>
          <div id="block_canvas_hph">
            <canvas id="per_hour_tuesday" width="700" height="400"></canvas>
            <canvas id="per_hour_saturday" width="700" height="400"></canvas>
          </div>
        </div>
      </div>
    </section>

    <script>
      ////////////////////////////////////////////////
      const labels1 = [
                {% for item in day_week %}
                "{{ item }}",
                {% endfor %}
      ];

      const data1 = {
        labels: labels1,
        datasets: [{
          label: 'Prix moyen par jour',
          backgroundColor: 'rgba(153, 102, 255, 0.2)',
          borderColor: 'rgba(153, 102, 255)',
          borderWidth: 1,
          data: [
              {% for item in price_day %}
                "{{ item }}",
              {% endfor %}
            ],
        }]
      };

      const config1 = {
        type: 'bar',
        data: data1,
        options: {
          responsive: false
        }
      };

      const myChart1 = new Chart(
        document.getElementById('per_day').getContext("2d"),
        config1
      );
     ////////////////////////////////////////////////

     ////////////////////////////////////////////////
      const labels = [
                {% for item in heure_nbstop %}
                "{{ item }}",
                {% endfor %}
      ];

      const data = {
        labels: labels,
        datasets: [{
          label: 'Prix moyen avec 1 arrêt',
          backgroundColor: [
                {% for item in color %}
                "{{ item }}",
                {% endfor %}
          ],
          borderColor: ['rgba(255, 205, 86, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 205, 86, 1)',
                      'rgba(255, 205, 86, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 205, 86, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 205, 86, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 205, 86, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 205, 86, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 205, 86, 1)',
                      'rgba(54, 162, 235, 1)'],
          borderWidth: 1,
          data: [
              {% for item in price_nbstop %}
                "{{ item }}",
              {% endfor %}
            ],
        }]
      };

      const config = {
        type: 'bar',
        data: data,
        options: {
          responsive: false
        }
      };

      const myChart = new Chart(
        document.getElementById('per_day_stop').getContext("2d"),
        config
      );
      ////////////////////////////////////////////////

      ////////////////////////////////////////////////
      const labels2 = [
                {% for item in hour_t %}
                "{{ item }}",
                {% endfor %}
      ];

      const data2 = {
        labels: labels2,
        datasets: [{
          label: 'Moyenne de prix heure par haure le Mardi',
          backgroundColor: 'rgba(255, 99, 132, 0.2)',
          borderColor: 'rgba(255, 99, 132)',
          borderWidth: 1,
          data: [
              {% for item in price_t %}
                "{{ item }}",
              {% endfor %}
            ],
        }]
      };

      const config2 = {
        type: 'line',
        data: data2,
        options: {
          responsive: false
        }
      };

      const myChart2 = new Chart(
        document.getElementById('per_hour_tuesday').getContext("2d"),
        config2
      );
      ////////////////////////////////////////////////

      ////////////////////////////////////////////////
      const labels3 = [
                {% for item in hour_s %}
                "{{ item }}",
                {% endfor %}
      ];

      const data3 = {
        labels: labels3,
        datasets: [{
          label: 'Moyenne de prix heure par haure le Samedi',
          backgroundColor: 'rgba(153, 102, 255, 0.2)',
          borderColor: 'rgba(153, 102, 255)',
          borderWidth: 1,
          data: [
              {% for item in price_s %}
                "{{ item }}",
              {% endfor %}
            ],
        }]
      };

      const config3 = {
        type: 'line',
        data: data3,
        options: {
          responsive: false
        }
      };

      const myChart3 = new Chart(
        document.getElementById('per_hour_saturday').getContext("2d"),
        config3
      );
      ////////////////////////////////////////////////
    </script>
    <script src="../static/js/comparator.js"></script>
    {% endblock %}
  </body>
</html>