<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Price comparator</title>
  </head>
  <body>
    {% extends "base.html" %}
    {% block content %}
    <h2> About App </h2>
    <p> This application is present to help you to choose the good flight</p>
    <p> Yes this application get info from website about flight price from defferents application
        It'll help you to know when is the best moment of the week to get a flight ect... </p>
    {% endblock %}
  </body>
</html>