version: '3'
services:
  jupyter:
      build: .
      depends_on:
      - mongo
      volumes:
        - .:/usr/src/workspace
      ports:
      - 8888:8888
      command: jupyter notebook --allow-root --ip 0.0.0.0 --NotebookApp.token='' --no-browser
  
  mongo:
    image: mongo
    container_name: mongo
    environment:
      - MONGO_DATA_DIR=/data/db
      - MONGO_LOG_DIR=/dev/null
    volumes:
      - ./data/mongo:/data/db
    ports:
        - 27017:27017

  elastic:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.4.0
    container_name: elasticsearch
    environment:
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - discovery.type=single-node
    ports:
      - "9200:9200"
  kibana:
    image: docker.elastic.co/kibana/kibana:7.4.0
    container_name: kibana
    environment:
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "5601:5601"

  selenium:
    image: selenium/standalone-chrome
    ports:
    - 4444:4444
    